img {
  width: 900px;
  margin: auto;
  display: block;
}

.img2 {
  width: 750px;
}

.f15, .f16, .f17, .f18, {
  text-indent: 1cm;
}

.style {
  font-size: 70px;
  font-style: italic;
  font-family: cursive;
  font-weight: bolder;
}

.img1 {
  width: 375px;
}

.contact {
  text-indent: 2cm;
  font-size: 20px;
  font-style: bold;
}

.img3 {
  width: 700px;
}

h1 {
  text-align: center;
}

body {
  background-color: lightgreen;
}

p {
  color: purple;
  font-size: 20px;
  font-style: italic;
  font-family: cursive;
  text-indent: 1cm;
}

h2 {
  text-align: center;
}

.well {
  font-size: 20px;
}

a {
  color: darkred;
  font-size: 40px;
}

.click1 {
  cursor: pointer;
  color: green;
}

.click1:hover {
  text-decoration: underline;
}

.cs-show {
  display: none;
}

.click2 {
  cursor: pointer;
  color: black;
}

.click2:hover {
  text-decoration: underline;
}

.rc-show {
  display: none;
}

.click3 {
  cursor: pointer;
  color: green;
}

.click3:hover {
  text-decoration: underline;
}

.ps-show {
  display: none;
}

.click4 {
  cursor: pointer;
  color: black;
}

.click4:hover {
  text-decoration: underline;
}

.ho-show {
  display: none;
}

.click5 {
  cursor: pointer;
  color: green;
}

.click5:hover {
  text-decoration: underline;
}

.vr-show {
  display: none;
}

.click6 {
  cursor: pointer;
  color: black;
}

.click6:hover {
  text-decoration: underline;
}

.bs-show {
  display: none;
}
